.edit-profile {
    h1 {
        margin-bottom: 60px;
    }

    .profile-edit-form {
        padding: 0 15px;
    }

    .form-group-img-upload {
        margin-bottom: 12px;
 
        .profile-edit-image {
            border: none;
            padding: 0;
        }
    }

    .dropdown {
        .dropdown-toggle {
            height: 100%;
            background-color: var(--color-primary);
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-white);
            font-weight: var(--p-medium);
            font-size: var(--font-size-b2);
            border: 2px solid var(--color-primary);
            padding: 0 30px;
            height: 50px;
            line-height: 46px;
            border-radius: 500px;
            margin-bottom: 24px;
            max-width: 235px;
        }

        .dropdown-menu {
            font-size: 14px;
            --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-hover-bg: none;

            ul {
                margin: 0;
            }

            a {
                transition: var(--transition);
            }
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 0;
        text-align: right;
        display: inline-block;
        display: block;
        max-width: 500px;
        margin-right: auto;

        input {
            background: var(--color-lightest);
            border-radius: 44px;
            padding-left: 46px;
            color: var(--color-gray);
            max-width: 500px;
            font-size: 14px;
            margin-bottom: 24px;
        }

        textarea {
            color: var(--color-gray);
        }

        .search-button {
            position: absolute;
            left: 0;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            border: 0 none;
            padding: 0;
            left: 21px;
            i {
                font-size: 16px;
            }
        }
    }

    .edit-info-button-cont {
        display: flex;
        justify-content: flex-start;
        margin-top: 42px;

        .axil-button {
            width: 125px;
            text-align: center;
        }
    }
}