.login-wrapper {
    margin: 135px 0;
    position: relative;

    @media #{$medium} {
        margin: 50px 0;
    }

    &:after{
        content: '';
        height: 125%;
        width: 28%;
        position: absolute;
        background-color: #e10600;
        top: -13%;
        right: 0;
        z-index: -1;
        border-radius: var(--radius) 0  0 var(--radius);

        @media #{$smlg-device} {
            display: none;
        }
    }

    .title {
        margin-bottom: 42px;
        text-align: left;

        @media #{$medium} {
            text-align: center;
        }
    }

    .axil-login {
        &.form-group {
            position: relative;
            margin-bottom: 0;
            text-align: right;
            display: inline-block;
            display: block;
            max-width: 350px;
            margin-right: auto;

            @media #{$medium} {
                margin-left: auto;
                margin-right: auto;
            }

            input {
                background: var(--color-lightest);
                border-radius: 44px;
                padding-left: 46px;
                color: var(--color-gray);
                max-width: 350px;
                font-size: 14px;
                margin-bottom: 24px;

            }

            .search-button {
                position: absolute;
                left: 0;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                border: 0 none;
                padding: 0;
                left: 21px;
                i {
                    font-size: 16px;
                }
            }
        }
    }

    .login-button-cont {
        display: flex;
        justify-content: flex-start;
        margin-top: 42px;


        @media #{$medium} {
            justify-content: center;
        }

        .axil-button {
            width: 125px;
            text-align: center;
        }
    }

    .signup-text {
        margin-top: 42px;
        
        @media #{$medium} {
            text-align: center;
        }

        a {
            margin-left: 8px;
        }
    }

    .login-img {
        position: relative;

        img {
            object-fit: cover;
            border-radius: var(--radius);
        }
    }
}