.signup-wrapper {
    position: relative;

    @media #{$smlg-device} {
        margin: 50px 0;
    }

    .container {
        max-width: 100%;

        @media #{$smlg-device} {
            max-width: auto;
        }
    }

    .col-lg-6 {
        @media #{$lg-layout} {
            width: 100%;
        }
    }

    .axil-section-gap {
        max-width: 630px;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;

        @media #{$smlg-device} {
            margin: 0;
            max-width: 100%;

        }
    }

    .title {
        margin-bottom: 42px;
        text-align: left;

        @media #{$smlg-device} {
            text-align: center;
        }
    }

    .axil-login {
        &.form-group {
            position: relative;
            margin-bottom: 0;
            text-align: right;
            display: inline-block;
            display: block;
            max-width: 350px;
            margin-right: auto;

            @media #{$smlg-device} {
                margin-left: auto;
                margin-right: auto;
            }

            input {
                background: var(--color-lightest);
                border-radius: 44px;
                padding-left: 46px;
                color: var(--color-gray);
                max-width: 350px;
                font-size: 14px;
                margin-bottom: 24px;

            }

            .search-button {
                position: absolute;
                left: 0;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                border: 0 none;
                padding: 0;
                left: 21px;
                i {
                    font-size: 16px;
                }
            }
        }
    }

    .login-button-cont {
        display: flex;
        justify-content: flex-start;
        margin-top: 42px;


        @media #{$smlg-device} {
            justify-content: center;
        }

        .axil-button {
            width: 125px;
            text-align: center;
        }
    }

    .signup-text {
        margin-top: 42px;
        
        @media #{$smlg-device} {
            text-align: center;
        }

        a {
            margin-left: 8px;
        }
    }

    .login-img {
        position: relative;
        
        @media #{$lg-layout} {
            display: none;
        }

        img {
            object-fit: cover;
        }
    }
}